.mono {
  margin: 0;
  padding: 0;
  font-family: Monospace;
  font-size: 14px;
}
.umono{
  margin: 0;
  padding: 0;
  font-family: Monospace;
  right: 0;
}
.spac {
  margin: 0;
  padding: 0;
  font-family: Times New Roman;
}
#simple {
  position: relative;
  width: 600px;
  height: 404px;
  margin: auto;
  background: #000;
  color: #0f0;
}
.prog {
  width: 100%;
}
.span {
  font-family: Arial;
  font-size: 20px;
  line-height: 20px;
}
.pree {
  line-height: 20px;
}
#hdiv {
  text-align: center;
}
.spanh {
  font-size: 40px;
  font-family: Arial;
  display: inline-block;
  line-height: 40px;
}
#logd {
  position: absolute;
  left: 480px;
  top: 120px;
  line-height: 20px;
}
